body {
    font-family: 'Nunito', sans-serif;
    margin: 40px;
}

header,
main {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

header > h1,
header > h2 {
    grid-column-start: 2;
}

main > p {
    grid-column-start: 2;
    grid-column-end: 5;
}